################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FakeArcade2/FileContentIndex/0b65a876-8ccd-40d1-9be1-29214c5c7b3f.vsidx
/.vs/FakeArcade2/FileContentIndex/5b8560bf-efe0-41fe-bb25-27b68464a1f8.vsidx
/.vs/FakeArcade2/FileContentIndex/fc205ef0-1a6e-454f-abfb-584f3fd88e01.vsidx
/.vs/FakeArcade2/FileContentIndex/e3e0a48f-5dbc-4806-842e-56cddd96f94a.vsidx
/.vs/FakeArcade2/FileContentIndex/7e26d491-b387-4812-974b-1c1f276eedc0.vsidx
/.vs/FakeArcade2/FileContentIndex/777c8e26-e6ef-456d-abdb-1903a9c3b09a.vsidx
/.vs/FakeArcade2/FileContentIndex/6ec3a7dd-790d-48e4-b638-8d072bb809e4.vsidx
/.vs/FakeArcade2/FileContentIndex/5dad35f4-25bf-49ac-b13b-d871f45af38c.vsidx
